body{
    background: #E5E5E5;
    font-family: 'Arvo', serif;
}

header{
    padding: 20px 20px;
}

#page-title{
    display: inline;
    margin-left: 6.3%;
    text-align: center;
    color: #0A3871;
}

#input-div{
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 1%;
}

#alerta-img{
    height: 15px;
    margin-right: 5px;
}

.info-message{
    display: inline;
    font-size: 15px;
    color: darkblue;
}

#input-text {
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    
    font-family: 'Arvo', serif;
    font-size: 25px;
    line-height: 150%;
    color: #0A3871;

    border-style: none;
    background: none;
    /* height: 300px;
    width: 650px; */
}

#input-text::placeholder{
    color: #0A3871;
    opacity: 0.5;
}

#encrypt-bttn{  
    margin-right: 3%;
    width: 300px;
    height: 67px;        
    background: #0A3871;
    border-radius: 24px;

    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

#decrypt-bttn{
    width: 300px;
    height: 67px;
    margin-right: 3%;
    background: #D8DFE8;
    border-radius: 24px;

    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;    
}

#reload-bttn{
    width: 50px;
    height: 50px;
    background: #D8DFE8;
    border-radius: 10px;
}

#result-div{
    float: right;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 5%;
    width: 500px;
    height: 520px;
    background: #FFFFFF;

    font-family: 'Arvo', serif;
    font-size: 25px;
    line-height: 150%;
    color: #0A3871;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#result-text{
    text-align: center;
    padding: 0 20px;
}

#second-info-text{
    font-weight: normal;
    font-size: 15px;
    color: gray;
}

#copy-bttn{
    display: none;
    position: absolute;
    top: 82%;
    left: 68%;
    width: 300px;
    height: 50px;
    background: #D8DFE8;
    border-radius: 24px;

    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;
}

footer{
    clear: left;
    text-align: center;
    color: #0A3871;
    font-weight: bold;
}

.copyright{
    display: inline;
}

a{
    text-decoration: none;
}